.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;
  /* transition: all 0.3sn ease-out; */
}

.ModalShow {
  animation: ferhatOpen 0.6s ease-out forwards;
}

.ModalClosed {
  animation: ferhatClose 1s ease-out forwards;
}
.fade-slide-enter {
}

.fade-slide-enter-active {
  animation: ferhatOpen 0.6s ease-out forwards;
}

.fade-slide-exit {
}

.fade-slide-exit-active {
  animation: ferhatClose 1s ease-out forwards;
}

@keyframes ferhatOpen {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.4;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ferhatClose {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
